################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AlansBackups/Toolbox164j
/AlansBackups/Toolbox164kIncr
/AlansBackups/Toolbox164qIncr
/AlansBackups/Toolbox164rIncr
/AlansBackups/Toolbox164sIncr
